.App {
  text-align: center;
}
.products {
  border: 2px solid #4153af;
  margin: 20px;
  padding-left: 15px;
}
.products:hover {
  box-shadow: 0px 0px 6px #4153af;
}

.details {
  font-size: 18px;
  color: #4153af;
}
.details h3 {
  color: black;
  font-size: 25px;
}
